body{
    box-sizing: border-box;
    background: lightgray;
    margin: 0px; 
    font-family: 'Raleway', sans-serif; 
}
header{
    width: 100%;
    height: 75px;
    background: linear-gradient(35deg, #241e1e, #6b5c5c, gray) ; 
    display: flex; 
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#logo{
    height: 100%;
    width: auto;
    padding: 0 15px;
}
.nav-menu a{
    padding: 0px 30px;
    color: white; 
    text-decoration: none ;
}
.book{
    margin-top: 75px;
    position: relative;
    top:0;
    left: 0;
}
.room-image{
    width: 100%;
}
#book-now{
    width: 200px; 
    height: 200px;
   padding: 0px 30px;
   color: white ;
   position: absolute;
   left: 0px;
   top: 30px; 
   z-index: 1;
}
.form-title{
    height: auto;
    width: 100%;
   opacity: 1;
   background: #696969;
   flex: display;
   flex-direction: row;
   padding: 10px 20px 2px;   
   border-radius: 10px 10px 0px 0px ;
}
.form-content{
    height: auto;
    width: 100%;
    border-radius: 0px 0px 10px 10px; 
    opacity: 0.5;
    color: white;
    background: gray; 
   padding: 0px 20px 20px;    
}
h1{
    font-size: 40px; 
}
h2{ 
    font-size: 30px;
}
#intro{
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro{
display: flex;
flex-direction: row;
align-items: center;
height: 300px;
width: 100%;
}
.intro-details{
display: flex;
flex-direction: column;
align-items: center;
height: 100%;
width: auto;
}
.intro p{
    padding: 0px 30px;
}
.image-intro{
    height: 25%;
    width: auto;
    border: 5px solid darkgray; 
    border-radius: 50%;
    transition: 0.5s;
}
.image-intro:hover{
    transform: scale(1.5); 
}
#facilities{
    background: gray; 
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 40px; 
}
#facilities i{
    color: #FFC400; 
}
#facilities li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}
#breakfast{
    height: 400px;
    width: 100%;  
    text-align: center;    
}
.image-container{
    height: 350px ; 
    width: 20%; 
    float: left;
    padding: 10px 10px 10px 30px ;
}
.breakfast-info{
    float: right; 
    width: 70%;
    height: 100px; 
    padding: 10px 40px 10px 10px; 
    font-size: 25px;   
}
.image1{
    height: 50%;
    width: 100%; 
}
.image2{
    height: 50%;
    width: 50%; 
    float: left;
}
.image3{
    height: 50%;
    width: 50%; 
    float: right;  
}
#gallery{
    height: 400px; 
    width: 100%;
    background: #787878;
}
.image-container-gallery{
    height: 300px;
    width: 100%;
}
.image-gallery{
    height: 100%;
    width: auto;
}
#contact{
    background: black;
    height: 50px; 
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.social-media{
    height: 100%;
    width: auto; 
}

@media (max-width: 1500px) {

    h1{
        font-size: 30px;
        text-align: center;
    }


    #breakfast{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 500px ;
    }
    .breakfast-info{
        font-size: 20px;
        width: 100%;
        padding: 0px 0px;
    }
    .image-container{
        height: 200px ; 
        width: 250px;
        padding: 0px 0px;
        }

     #gallery{
        height: 800px; 
        width: 100%;
        background: #787878;
        text-align: center;
    }
    .image-container-gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 600px;  
    }
    .image-gallery{
        height: 200px;
        width: auto;
        padding: 10px;
    }

}

@media (max-width: 800px) {
 
    .nav-menu a{
        font-size: 15px;
        padding: 0px 10px;
    }
    .nav-menu{
        padding-right: 20px;
}

    #intro{
        height: 1100px;
    }
    .intro{
        flex-direction: column;
    }
    .intro p{
        font-size: 20px;
    }
    #facilities h2{
        font-size: 25px;
        text-align: center;
    }
    #breakfast{
        height: 600px; 
    }
    .breakfast-info{
        height: 400px;
        font-size: 15px;
     
    }




    .book{
        
        height: 500px; 
    }
    
    #book-now{
        width: 200px; 
        height: 200px;
    position: relative    ;
    top: 20px; 
    left: 60px;
    
       color: white ;
    
    }
    




}